#login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -150px;
    width: 300px;
    height: 300px;
    text-align: center;
    color: #fff
}


/* 设置滚动条的样式 */

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    /*background-color: #F5F5F5;*/
}


/* 滚动槽 */

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);*/
    /*background: #525252;*/
    width: 5px;
}

.modal-dialog {
    /*width: 100%!important;*/
}


/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #727272;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #cbcbcb;
}

::-webkit-scrollbar-button {
    /*background:#727272;*/
}

.ace_print-margin {
    display: none;
}

.title {
    float: right;
    color: #fff;
    margin-right: 10%;
}

input {
    background-color: #525252;
    border: 0px solid #525252;
}

.form-control {
    width: 90%!important;
    border: 0px!important;
}

.bootstrap-select button {
    width: 90%!important;
    border: 0px!important;
}

.bootstrap-select .dropdown-menu {
    min-width: 90%!important;
}

.scripts_name {
}

.but {
    width: 300px;
    min-height: 20px;
    display: block;
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.navbar .nav > li .dropdown-menu {
    margin: 0;
}

.navbar .nav > li:hover .dropdown-menu {
    display: block;
}

i {
    font-size: 11px;
}

a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

a:hover {
    color: #88e7ff;
    text-decoration: none;
}

.loginbt {
    background: #292929;
    border: 0;
    color: #fff;
}

#register {
    width: 480px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px;
}

@media screen and (max-width: 767px) {
    #register {
        width: 300px
    }
    #modal-body table {
        font-size: 11px
    }
}

.formGroup {
    margin-bottom: 15px;
}

input {
    color: #fff
}

input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    /*color: #555;*/
    /*background-color: #fff;*/
    background-image: none;
    /*border: 1px solid #767474;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus {
    outline: 0;
    border: 1px solid #ccc;
    /*box-shadow: 0px 0px 10px 0px #f95d5d;*/
}

button:hover {
    background-color: #bbb;
    color: #fff
}

body {
    overflow-y: hidden;
}

#rightCenter{
    margin-top: -35px;
}

/*.leftDiv{
    background-color: red
}*/

.headDIv {
    width: 100%;
    margin-top: 5px;
    height: 30px;
    margin-left: 5px;
}

.leftDiv {
    float: left;
    margin-left: 5px;
    width: 370px;
    margin-top: 5px;
}

.rightDiv {
    float: right;
    margin-right: 5px;
    margin-top: 0px;
}

@media screen and (max-width: 900px) {
    body {
        overflow-y: auto;
    }
    .leftDiv {
        width: 99.2%;
        margin-left: 0.4%;
        margin-right: 0.4%;
    }
    .rightDiv {
        margin-top: 5px;
        margin-right: 0.4%;
        margin-left: 0.4%;
    }
}

@media print {
    .leftDiv {
        display: none;
    }
    .headDIv {
        /*display: none;*/
    }
    .menu_test {
        display: none;
    }
    .rightTable {
        display: none;
    }
    .bottomTable {
        display: none;
    }
    .container_test {
        margin-left: -100px;
    }
    .export-btn {
        display: none;
    }
    .needPrint {
        width: 100%;
        position: absolute;
        left: 0
    }
    .needPrint:first-child {
        margin-top: 450px;
    }
    .needPrint:nth-child(2) {
        margin-top: 900;
    }
    .needPrint:nth-child(3) {
        margin-top: 900px;
    }
    #run_chart_p {
        margin-top: 600px;
    }
    #markert_chart_p {
        margin-top: -430px;
    }
    #profit_chart_p {
        margin-top: 1300px;
    }
    #TradeDetail {
        margin-top: 2000px;
    }
    #TradeAnalysis {
        margin-top: 2800px;
    }
}

.list-group-item {
    font-size: 14px
}

.usersListUl li {
    text-decoration: none;
    width: 90%;
    background: red
}

.usersListUl li>div {
    width: 20%;
    background-color: #ddd;
    float: left;
}

#table tr {
    border-bottom: 1px solid #ccc
}
